COOS Router/COOS Router/Lib/xsd/coos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    COOS - Connected Objects Operating System (www.connectedobjects.org).

    Copyright (C) 2009 Telenor ASA and Tellu AS. All rights reserved.
    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

    This library is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    You may also contact one of the following for additional information:
    Telenor ASA, Snaroyveien 30, N-1331 Fornebu, Norway (www.telenor.no)
    Tellu AS, Hagalokkveien 13, N-1383 Asker, Norway (www.tellu.no)

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.coos.org/CoosXMLSchema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.coos.org/CoosXMLSchema">
           
           
           <!--<xs:import namespace="http://www.coos.org/common" schemaLocation="common.xsd"/>
           
    --><xs:element name="coos" type="coosType"/>
    <xs:complexType name="routeralgorithmType">
        <xs:sequence>
            <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>
    <xs:complexType name="coosType">
        <xs:sequence>
            <xs:element type="routerType" name="router" maxOccurs="1" minOccurs="1"/>
            <xs:element type="channelType" name="channel" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="channelserverType" name="channelserver" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="transportType" name="transport" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="processorType" name="processor" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
    <xs:complexType name="inBoundType">
        <xs:sequence>
            <xs:element type="filterType" name="filter" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="channelserverType">
        <xs:sequence>
          <xs:element type="propertyType" name="property"
            maxOccurs="unbounded" minOccurs="0" />
          <xs:element name="channel-mapping" type="channel-mappingType" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>
    <xs:complexType name="channel-mappingType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="uuid"/>
                <xs:attribute type="xs:string" name="channel"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="channelType">
      <xs:sequence>
        <xs:element type="outBoundType" name="outBound">
          <xs:annotation>
            <xs:documentation>
              segment attribute is optional
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="inBoundType" name="inBound" />
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" />
      <xs:attribute type="xs:boolean" name="init" />
      <xs:attribute type="xs:string" name="transport" />
      <xs:attribute type="xs:string" name="segment" />
      <xs:attribute name="defaultgw" type="xs:boolean"></xs:attribute>
      <xs:attribute name="receiveroutinginfo" type="xs:boolean" default="true"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="propertyType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="processorType">
        <xs:sequence>
            <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="class"/>
        <xs:attribute type="xs:boolean" name="shared"/>
    </xs:complexType>
    <xs:complexType name="outBoundType">
        <xs:sequence>
            <xs:element type="filterType" name="filter" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="costType" name="cost" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="segmentType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional" />
          <xs:attribute type="xs:string" name="routeruuid"
            use="optional" />
          <xs:attribute type="xs:string" name="routeralgorithm"
            use="optional" />
          <xs:attribute name="logging" type="xs:string"></xs:attribute>
          <xs:attribute name="defaultSegment" type="xs:string"></xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="filterType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="processor" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="costType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:int" name="value" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="transportType">
        <xs:sequence>
            <xs:element type="propertyType" name="property" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>
    <xs:complexType name="routerType">
        <xs:sequence>
          <xs:element name="property" type="propertyType" maxOccurs="unbounded" minOccurs="0"></xs:element>
          <xs:element type="qosclassType" name="qosclass"
            maxOccurs="unbounded" minOccurs="0" />
          <xs:element type="segmentType" name="segment"
            maxOccurs="unbounded" minOccurs="0" />
          <xs:element type="routeralgorithmType" name="routeralgorithm"
            maxOccurs="unbounded" minOccurs="1" />
          <xs:element type="processorType" name="routerprocessor"
            maxOccurs="unbounded" minOccurs="0" />
          <xs:element type="routerprocessorType" name="preprocessor"
            maxOccurs="unbounded" minOccurs="0" />
          <xs:element type="routerprocessorType" name="postprocessor"
            maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="class"/>
    </xs:complexType>
    <xs:complexType name="qosclassType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
                <xs:attribute type="xs:string" name="default" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
     <xs:complexType name="routerprocessorType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="routerprocessor" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>